$ultralightgrey: #e8e8e8;
$ltgrey: #cccccc;
$grey: #999999;

$default: #0088ce;

$background-color: #fff;

/* -------BLUE-------  */
$blue-top: #0088ce;
$blue-bottom: #0060af;

$blue-secondary-top: #1dbbbc;
$blue-secondary-bottom: #006c6c;

$green-top: #01a290;
$green-bottom: #01a491;


/* -------TEAL-------  */
$teal-top: #01a290;
$teal-bottom: #006b6b;

$teal-secondary-top: #fbab18;
$teal-secondary-bottom: #f47b1e;


/* -------PURPLE-------  */
$purple-top: #92278f;
$purple-bottom: #5c2e91;

$purple-secondary-top: #00a8e9;
$purple-secondary-bottom: #0190d6;


/* -------ORANGE-------  */
$orange-top: #f47820;
$orange-bottom: #dc5828;

$orange-secondary-top:#f53a08;
$orange-secondary-bottom:#e11a17;


$yellow-light: #fefabd;

$orange: #ff9900;

$link-color: $blue-top;

$text-color: #666;

$main-theme-color: $blue-top;

$main-top: $blue-top;
$main-bottom: $blue-bottom;

$secondary-top: $green-top;
$secondary-bottom: $green-bottom;


$badge-success: #5cb85c;
$badge-primary: #337ab7;
$badge-info: #5bc0de;
$badge-warning: #f0ad4e;
$badge-danger: #d9534f;

