$ultralightgrey: #e8e8e8;
$ltgrey: #cccccc;
$grey: #999999;

$default: #0088ce;

$background-color: #fff;

/* -------BLUE-------  */
$blue-top: #55a9ec;
$blue-middle: #4684cc;
$blue-bottom: #3658ab;


/* -------PURPLE-------  */
$purple-top: #b9008c;
$purple-middle: #8b008d;
$purple-bottom: #5e0f8f;


/* -------RED-------  */
$red-top: #e05332;
$red-middle: #dd0031;
$red-bottom: #9d1e36;


/* -------ORANGE-------  */
$orange-top: #eeb135;
$orange-middle: #e57633; 
$orange-bottom: #cf5333;


/* -------GREEN-------  */
$green-top: #57bebb;
$green-middle: #43af95;     
$green-bottom: #296c6a;



/* -------BLUE SECONDARY (PURPLE)-------  */
$blue-secondary-top: $purple-top;
$blue-secondary-middle: $purple-middle;
$blue-secondary-bottom: $purple-bottom;


/* -------PURPLE SECONDARY (RED)-------  */
$purple-secondary-top: $red-top;
$purple-secondary-middle: $red-middle;
$purple-secondary-bottom: $red-bottom;


/* -------RED SECONDARY (ORANGE)-------  */
$red-secondary-top: $orange-top;
$red-secondary-middle: $orange-middle;
$red-secondary-bottom: $orange-bottom;


/* -------ORANGE SECONDARY (GREEN)-------  */
$orange-secondary-top: $green-top;
$orange-secondary-middle: $green-middle;
$orange-secondary-bottom: $green-bottom;


/* -------GREEN SECONDARY (BLUE)-------  */
$green-secondary-top: $blue-top;
$green-secondary-middle: $blue-middle;
$green-secondary-bottom: $blue-bottom;


$yellow-light: #fefabd;

$orange: #ff9900;

$link-color: $blue-top;

$text-color: #666;

$main-theme-color: $blue-top;

$main-top: $blue-top;
$main-bottom: $blue-bottom;

$secondary-top: $green-top;
$secondary-bottom: $green-bottom;

$badge-success: #5cb85c;
$badge-primary: #337ab7;
$badge-info: #5bc0de;
$badge-warning: #f0ad4e;
$badge-danger: #d9534f;

