.icon
{
	display: inline-block;
	line-height: inherit;
    text-align: right;
	font-weight: normal;
	font-size: inherit;
	vertical-align: middle;
}

.icon:before
{
	font-size: inherit;
	line-height: inherit;
}

.link-icon
{
	@extend .icon;
	font-size: 22px;
}

.link-icon-right
{
	@extend .link-icon;
	margin-left: 5px;
}

.link-icon-left
{
	@extend .link-icon;
	margin-right: 5px;
}

%icon-font
{
	font-family: "ymca-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:     inline-block;
	vertical-align:bottom;
	font-size:inherit;
}
   

