.region + .region
{
	margin-top: $vert-spacing-unit;
}

.region:last-child
{
	margin-bottom: $vert-spacing-unit;
}

.header + .nav
{
	margin-top: 0;
}

@include breakpoint($small, true)
{

	.header .topleft
	{
		@include grid-span(3);
	}

	.header .topright
	{
		@include grid-span(9, 4);
	}

}

@include breakpoint($small, true)
{

	@include layout($grid: 12, $gutter: 3em)
	{
		.header .left
		{
			@include grid-span(6);
		}
	
		.header .right
		{
			@include grid-span(6,7);
		}
	}
}

@include breakpoint($large, true)
{

	@include layout($grid: 12, $gutter: 3em)
	{
		.header .left
		{
			@include grid-span(5);
		}
	
		.header .right
		{
			@include grid-span(7, 6);
		}
	}
}






